@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    /* border: 1px solid red; */
}
body{
    width: 100%;
    height: 100%;
}
.main-container{
    width: 100%;
    height: auto;
    /* padding-bottom: 40px; */
}
.navbar{
    width: 100%;
    height: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid gray ; */
}
.left-nav{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-nav img{
    width: 30%;
    height: auto;
}
.left-nav i{
    width: 10%;
    font-size: 1.3em;
    /* padding: 10px; */
    color: rgb(110, 108, 108);
}
.center-nav{
    width: 55%;
    height: auto;
    display: flex;
    align-items: start;
    gap: 40px;
}
.center-nav a{
    text-decoration: none;
    color: black;
}
.right-nav{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.right-nav a{
    text-decoration: none;
    color: #000;
}
.right-nav i{
    font-size: 1.2em;
}
.hero-img{
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(233, 227, 227, 0.991) 0, rgba(211, 211, 211, 0.706) 60%, rgba(237, 235, 235, 0.438) 100%), url(./assetes/pexels-photo-210307.jpeg);
    /* background-image: url(./assetes/pexels-photo-210307.jpeg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* opacity: 50%; */
    
}
.hero-contant{
    width: 80%;
    height: auto;
    padding: 0px 60px;
    display: flex;

}
.left-contant{
    width: 33%;
    height: auto;
    display: flex;
    /* margin-top: 60px; */
    align-items: center;
    gap: 14px;
    /* justify-content: space-between; */
}
.line{
    width: 40%;
    height: 1.2px;
    background-color: black;
}
.left-contant h4{
    font-size: 1em;
    font-weight: 500;
}
.left-contant h6{
    font-size: .8em;
    font-weight: 400;
}
.right-contant{
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
    top: 50px;
    left: 30px;
    /* align-items: center; */
    flex-direction: column;
    gap: 14px;
}
.right-contant h1{
    /* width: 100%; */
    font-size: 2.8em;
    font-weight: 400;
    padding-top: 20px;
    color: rgb(39, 38, 38);
}
.right-contant p{
    font-size: 1em;
    letter-spacing: .8px;
    color: #212121;
    line-height: 22px;
}
.last-container{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: start;
}
.six-container{
    width: 85%;
    /* height: 400px; */
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
}
.frist-line{
    display: flex;
}
.second-line{
    display: flex;
}
.box{
    width: 40%;
    height: auto;
    padding-block: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}
.box h1{
    width: 100%;
    font-size: 1.8em;
    font-weight: 400;
}
.box p{
    color: rgb(38, 38, 38);
    line-height: 25px;
}
.frist-line .box:first-child{
    background-color: aliceblue;
}
.frist-line .box:first-child h1 span{
   color: rgb(13, 104, 222);
}
.frist-line .box:nth-child(2){
    background-color: rgb(255, 255, 255);
}
.box:nth-child(3) h1{
    display: flex;
    gap: 10px;
}
.second-line .box:nth-child(3) h1 span{
    color: rgb(154, 98, 235);
}
.frist-line .box:nth-child(3) h1 span{
    color: rgb(231, 128, 64);
}
.frist-line .box:nth-child(3){
    background: linear-gradient(
        to left,
        rgba(255, 255, 1, 0.409),
        rgb(207, 225, 207)
    );
}
.second-line .box:nth-child(1){
    background: linear-gradient(
        to left,
        rgba(234, 234, 207, 0.409),
        rgb(207, 225, 207)
    );
}
.second-line .box:nth-child(2){
    background: linear-gradient(
        to left,
        rgba(255, 255, 1, 0.409),
        rgb(207, 225, 207)
    );
}
.second-line .box:nth-child(3){
    background: linear-gradient(
        to left,
        rgba(179, 220, 219, 0.409),
        rgba(255, 255, 255, 0.995)
    );
}
@media (max-width:460px){
    .main-container{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
        height: auto;
    }
    .left-nav{
        width: 50%;
        height: auto;
        gap: 30px;
    }
    .left-nav img{
        width: 100%;
    }
    .left-nav i{
        font-size: 1.2em;
    }
    .center-nav{
        display: none;
    }
    .right-nav{
        width: 20%;
        height: auto;
    }
    .hero-contant{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .left-contant{
        width: 20%;
        height: auto;
        padding: 30px;
    }
    .right-contant{
        width: 90%;
        top: 0;
    }
    .right-contant h1{
        /* width: 100%; */
        font-size: .9em;
    }
    .right-contant p{
        font-size: .9em;
      
    }
    br{
        display: none;
    }
    .last-container{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .six-container{
        width: 90%;
        height: auto;
        gap: 20px;
    }
    .frist-line{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
    }
    .frist-line .box{
        width: 80%;
        height: auto;
        padding-right: 20px;
    }
    .second-line{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
    }
    .second-line .box{
        width: 80%;
        height: auto;
        padding-right: 20px;
    }
    .box p{
        line-height: 30px;
    }

}
@media (max-width:600px){
    .main-container{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
        height: auto;
    }
    .left-nav{
        width: 20%;
        height: auto;
        gap: 30px;
    }
    .left-nav img{
        width: 80%;
    }
    .left-nav i{
        font-size: 1.2em;
    }
    .center-nav{
        display: none;
    }
    .right-nav{
        width: 20%;
        height: auto;
    }
    .hero-contant{
        width: 100%;
        height: auto;
    }
    .left-contant{
        width: 30%;
        height: auto;
        align-items: center;
    }
    .right-contant{
        width: 70%;
    }
    .right-contant h1{
        font-size: 1.9em;
    }
    .right-contant p{
        font-size: 1em;
        line-height: 30px;
    }
    br{
        display: none;
    }
    .last-container{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .six-container{
        width: 90%;
        height: auto;
        gap: 20px;
    }
    .frist-line{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
    }
    .frist-line .box{
        width: 80%;
        height: auto;
        padding-right: 20px;
    }
    .second-line{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
    }
    .second-line .box{
        width: 80%;
        height: auto;
        padding-right: 20px;
    }
    .box p{
        line-height: 30px;
    }

}
@media (max-width:700px){
    .main-container{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
        height: auto;
    }
    .left-nav{
        width: 20%;
        height: auto;
        gap: 30px;
    }
    .left-nav img{
        width: 80%;
    }
    .left-nav i{
        font-size: 1.2em;
    }
    .center-nav{
        display: none;
    }
    .right-nav{
        width: 20%;
        height: auto;
    }
    .hero-contant{
        width: 100%;
        height: auto;
    }
    .left-contant{
        width: 30%;
        height: auto;
        align-items: center;
    }
    .right-contant{
        width: 70%;
    }
    .right-contant h1{
        font-size: 1.9em;
    }
    .right-contant p{
        font-size: 1em;
        line-height: 30px;
    }
    br{
        display: none;
    }
    .last-container{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .six-container{
        width: 90%;
        height: auto;
    }
    .frist-line{
        width: 100%;
        height: auto;
    }
    .second-line{
        width: 100%;
        height: auto;
    }

}